@import '../../node_modules/react-select/scss/default.scss';

.wp-block-teaser-reference-block {
	background: #fff;
	color: #000;
	margin: 0 auto;
	padding: 0.5rem;
}

.components-panel{
 	overflow: visible !important;
}

.Select-menu-outer {
  	z-index: 10000000 !important;
}
