@import "_custom-properties.css";
@import "_custom-mixins.css";

.game-box-score {
	display: flex;
	flex-wrap: wrap;

	& .box-score-section {
		flex-basis: 50%;
		padding: 1rem;
		overflow-x: scroll;

		&#score-info {

			& .linescore {

				& thead {

					& tr {

						& th {
							text-align: center;
							font-size: 16px;
						}
					}
				}

				& tbody {

					& tr {

						& td {

							& img {
								max-height: 25px;
							}

							&.score {
								text-align: center;
							}
						}
					}
				}
			}

			& #box-score-events {
				overflow: hidden;

				& [role="tablist"] {
					display: flex;
					margin: 0;
					padding: 0;
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
				}

				& [role="tab"] {
					position: relative;
					list-style: none;
					text-align: center;
					cursor: pointer;
					padding: 14px;
					flex-grow: 1;
					color: var(--color-off-black);

					&:hover {
						background: var(--color-light-grey);
					}

					&[aria-selected="true"] {
						color: var(--color-black);

						&::after {
							content: "";
							position: absolute;
							width: 100%;
							height: 4px;
							background: var(--color-off-black);
							left: 0;
							bottom: 0;
						}
					}
				}

				& .tabs-container {
					padding: 1em;
					position: relative;

					& [role="tabpanel"] {
						display: none;

						&[aria-expanded="true"] {
							display: block;
						}
					}

					& .standings {

						& thead {

							& tr {

								& th {
									text-align: center;

									&.left {
										text-align: left;
									}
								}
							}
						}

						& tbody {

							& tr {

								& td {

									&.center {
										text-align: center;
									}
								}
							}
						}
					}
				}
			}

			& .game-events {

				& thead {

					& tr {

						& th {

							&.score {
								text-align: center;
								width: 45px;
							}

							& img {
								max-height: 25px;
								margin-right: 5px;
							}
						}
					}
				}

				& tbody {

					& tr {

						& td {

							&.score {
								text-align: center;
							}

							& img {
								max-height: 25px;
								margin-right: 5px;
							}

							& .event-id {
								display: none;
							}

							& .yellow {
								color: #e3db00;
							}

							& .red {
								color: #e30000;
							}
						}
					}
				}

				&.baseball {

					& thead {

						& tr {

							& th {

								& img {
									max-height: 25px;
									margin-bottom: 5px;
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}

		&#team-stats {

			& .team-stats {

				& thead {

					& tr {

						& th {
							text-align: center;
							font-size: 16px;

							& img {
								max-height: 30px;
							}
						}
					}
				}

				& tbody {

					& tr {

						& td {
							font-size: 16px;

							&.stat {
								text-align: center;
							}
						}
					}
				}
			}
		}

		&#away-stats,
		&#home-stats {

			& .individual-stats {

				& thead {

					& tr {

						& th {
							text-align: center;
							font-size: 16px;
						}
					}
				}

				& tbody {

					& tr {

						& td {
							font-size: 16px;

							&.stat {
								text-align: center;
							}
						}
					}
				}
			}

			& .sports-bench-abbreviations {
				font-size: 16px;
			}
		}
	}

}

@media only screen and (max-width: 650px) {

	.game-box-score {
		display: flex;
		flex-wrap: wrap;

		& .box-score-section {
			flex-basis: 100%;
		}
	}
}
